.customTooltip {
	width: 200px;
	height: 110px;
	background-color: #f5f5f5;
	border-radius: 10px;
	padding-top: 3px;
	padding-left: 10px;
	opacity: 0.8;
	p {
		margin: 0;
		padding: 2px;
		opacity: 1;
		&.id {
			color: #3c188f;
		}
		&.area {
			color: #ff8989;
		}
		&.bar {
			color: #8884d8;
		}
	}
}
